<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="com.awa.framework.listeners.TestListener"/>
    </listeners>

    <test name="OrangeHRM UI Tests">
        <parameter name="browser" value="chromium"/>
        <classes>
            <class name="com.orangehrm.tests.OHRMLoginTests"/>
            <class name="com.orangehrm.tests.RecruitmentTests"/>
        </classes>
    </test>

    <test name="Petstore API Tests">
        <classes>
            <class name="com.petstore.tests.UserAPITests"/>
            <class name="com.petstore.tests.PetAPITests"/>
        </classes>
    </test>
</suite>
